body {
    background-color: #121212; /* Color de fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

.sidebar {
    background-color: #1e1e1e; /* Color de la barra lateral */
    height: 100vh;
    padding: 20px;
    width: 250px; /* Ancho fijo para la barra lateral */
}

.nav-link {
    color: #ffffff; /* Color de los enlaces */
}

.nav-link:hover {
    background-color: #3a3a3a; /* Color de fondo al pasar el mouse */
}

.section-title {
    color: #ffdd57; /* Color de los títulos de sección */
    border-bottom: 2px solid #ffdd57; /* Línea debajo del título */
    padding-bottom: 10px;
    margin-bottom: 10px; /* Espacio inferior ajustado */
}

.experience-item, .education-item, .courses-section ul li {
    background-color: #2a2a2a; /* Color de fondo de las secciones de experiencia y educación */
    padding: 15px;
    margin-bottom: 10px; /* Espacio entre items ajustado */
    border-radius: 5px;
}

a {
    color: #00bcd4; /* Color de los enlaces */
}

a:hover {
    color: #ffdd57; /* Color de los enlaces al pasar el mouse */
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.main-content {
    flex-grow: 1; /* Permitir que el contenido principal crezca */
}
